* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

u {
    text-decoration: underline;
}

button, select, input, textarea {
    font-size: inherit;
    font-family: inherit;
}

body {
    padding: 48px;
    background: url(../images/background2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: system-ui;
}

form {
    width: 440px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 8px 20px;
    background: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 16px;
}

label {
    display: block;
    margin: 15px 0 0;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.5;
}
label[for="Male"], label[for="Female"], label[for="Other"] {
    display: inline;
}

.gender input {
    margin-top: 10px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="email"] {
    width: 100%;
    margin-top: 5px;
    font-size: 14px;
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 8px;
}
input[type="file"] {
    display: none;
}

img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
    margin: 10px auto;
}

.Communication {
    margin-top: 16px;
    background-color: rgb(249, 249, 249);
    border: rgb(204, 204, 204) 1px solid;
    padding: 12px;
    border-radius: 8px;
}

h3 {
    text-align: center;
    margin: 0px auto;
    text-decoration: underline;
    font-size: 19px;
}

h1 {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 32px;
}

button {
    margin-top: 20px;
    width: 100%;
    color: white;
    font-size: 17px;
    font-weight: 450;
    cursor: pointer;
    background: rgb(0, 123, 255);
    padding: 10px 12px 12px 12px;
    border-radius: 10px;
    border: 0;
}