body {
    background-color: rgb(72 111 206);
    font-family: "Open Sans", sans-serif;
}

ul {
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 82px;
    background-color: rgb(62 92 202);
}

ul li {
    font-size: 20px;
    width: calc(100% / 8);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li:first-of-type {
    background-color: rgb(251 251 251);
}
ul li:not(:first-of-type) a {
    color: white;
}

ul li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}